html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
a,
a:hover {
    text-decoration: none;
    color: #000;
}

.meta-container {
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    .my-container {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        > div {
            width: 100%;
        }
        .top {
            min-height: 225px;
            padding: 0 2rem 2rem 2rem;
            align-items: center;
            .tay {
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    vertical-align: middle;
                    text-align: center;
                    font-size: 10rem;
                    font-weight: bold;
                    letter-spacing: -0.625rem;
                    overflow: auto;
                    span {
                        position: relative;
                        right: 25px;
                        color: orange;
                        opacity: 0.5;
                    }
                }
            }

            p {
                width: 100%;
                position: relative;
                font-size: 0.75rem;
                font-weight: bold;
                font-style: italic;
                cursor: pointer;
                overflow: auto;
                text-align: center;
                right: 32px;
                bottom: 40px;
            }
        }

        .bottom {
            display: flex;
            width: 100%;
            min-height: 100%;
            background-color: #f1f1f1;
            padding: 2rem;
            // box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.05);
            .bottom-left {
                flex: 1 0 60%;
            }
            .bottom-right {
                width: 100%;
                height: inherit;
                flex: 1 0 40%;
                .card-container {
                    display: flex;
                    flex: 1 0 auto;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    .my-card {
                        flex-grow: 1;
                        display: flex;
                        max-height: 15rem;
                        min-height: 10rem;
                        max-width: 15rem;
                        min-width: 10rem;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.3125rem;
                        margin: 1rem 1rem;
                        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.075);
                    }
                }
            }
        }
    }
}
