html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
a,
a:hover {
    text-decoration: none;
    color: #000;
}

$lightGrey: #e4e4e4;
$darkGrey: #d8d8d8;
$myOrange: #ff9b0f;

.meta-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-navbar {
    display: flex;
    width: 100%;
    height: 2.5rem;
    min-height: 2.5rem;
    flex-direction: row;
    justify-content: center;
    .nav-links {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        text-transform: lowercase;
        font-size: 1.1rem;
        .nav-link {
            overflow: auto;
            margin: 0 5px;
            // height: 1.25rem;
            :hover {
                text-decoration: underline $myOrange wavy;
            }
            a {
                color: $darkGrey;
            }
        }
    }
}

.my-form {
    display: flex;
    flex-direction: column;
}

.post {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #000;
}

.comment {
    border: 1px solid #000;
}

.index-page {
    .my-container {
        display: flex;
        width: 100%;
        height: 100vh;
        min-height: 700px;
        padding: 2rem;
        .big-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 1rem;
            align-items: center;
            border-radius: 30px;
            box-shadow: 0 10px 75px rgba(0, 0, 0, 0.2);
            position: relative;

            .index-header {
                display: flex;
                width: 100%;
                height: 100%;
                min-height: 200px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .header-container {
                    display: flex;
                    width: 600px;
                    height: auto;
                    margin: 0 auto;
                    justify-content: flex-end;
                }
                h1 {
                    width: 100%;
                    height: 100%;
                    min-height: 250px;
                    text-align: center;
                    font-size: 8rem;
                    letter-spacing: -12px;
                    position: relative;
                    span:first-child,
                    span:last-child {
                        color: $myOrange;
                    }
                    span:nth-child(2) {
                        color: $lightGrey;
                        font-size: 8rem;
                    }
                    span:nth-child(3) {
                        font-size: 14rem;
                    }
                    span:last-child {
                        position: absolute;
                        top: 35%;
                        right: 8%;
                    }
                }
            }
            .index-slogan {
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                color: $darkGrey;
                .slogan-container {
                    width: 400px;
                    height: 150px;
                    margin: 0 auto;
                    position: relative;
                    overflow: hidden;
                    span {
                        color: $myOrange;
                        font-size: 10rem;
                        letter-spacing: -15px;
                    }
                    .top-quote,
                    .bottom-quote,
                    .top-slogan,
                    .bottom-slogan,
                    .line {
                        position: absolute;
                    }
                    .top-quote {
                        bottom: -30%;
                    }
                    .top-slogan {
                        top: 15%;
                        left: 15%;
                    }
                    .bottom-quote {
                        right: 2%;
                        bottom: -50%;
                    }
                    .bottom-slogan {
                        right: 15%;
                        top: 35%;
                    }
                    .line {
                        width: 225px;
                        border-bottom: 2px dashed #000;
                        opacity: 0.6;
                        top: 32%;
                        right: 23%;
                    }
                }
                h2 > span {
                    font-weight: bold;
                    color: $myOrange;
                }
            }
        }
    }
}
